@use "mixin" as *;

$cBlack: black;

body {
  text-align: center;
}

// Mixin修正版
@mixin animation($name,
  $duration: 1s,
  $timing-function: ease,
  $delay: 0s,
  $iteration-count: 1,
  $direction: normal,
  $fill-mode: forwards) {
  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: $timing-function;
  animation-delay: $delay;
  animation-iteration-count: $iteration-count;
  animation-direction: $direction;
  animation-fill-mode: $fill-mode;
}

// ここから下はそのまま
.rect {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: $cBlack;

  // 修正後の Mixin を呼び出し
  @include animation($name: sk-bouncedelay,
    $duration: 1.4s,
    $timing-function: ease,
    $delay: 3s,
    $iteration-count: infinite,
    $direction: alternate-reverse,
    $fill-mode: both);
}

.paused {
  animation-play-state: paused;
}

@keyframes sk-bouncedelay {
  from {
    transform: scale(0);
    background-color: black;
  }

  to {
    transform: scale(1);
    background-color: green;
  }
}